body {
  background-color: #f9f9f9;

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  margin-left: 7%;
  margin-right: 7%;
  padding-left: 25px;
  padding-right: 25px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.apexcharts-title-text {
  font-weight: 600;
}

.apexcharts-yaxis-title-text {
  font-weight: 500;
  font-size: 12px;
}

.apexcharts-xaxis-title-text {
  font-weight: 500;
  font-size: 14px;
}