
  
.quicksort-head {
    margin-top: 20px;
    margin-right: 20vw;
    margin-left: 20vw;
    text-align: center;
    font-size: 30px;
    border-radius: 19px;
    font-weight: bolder;
    margin-bottom: 8px;

}
  
.quicksort-data-container {
    width: 600px;
    height: 384px;
    position: relative;
    margin: 0 auto;
}
  
.quicksort-bar {
    /* width: 28px; */
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 183, 255);
    transition: 0.2s all ease;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

}

.quicksort-hr {
    position: absolute;
    height: 5px;
    left: 0;
    transition: 0.4s all ease;
    opacity: 0.5;
}

.quicksort-bar-no-transition {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 183, 255);    
}
  
.quicksort-bar_id {
    position: relative;
    /* top: -25%; */
    float: top;
    top: -35px;
    width: 100%;
    text-align: center;
}

.quicksort-hr_label {
    position: relative;
    /* top: -25%; */
    float: top;
    top: -25px;
    margin-left: -115%;
    /* left: -100px; */
    /* width: 100%; */
    /* text-align: left; */
    color: black;
}